[submodule "credis"]
    path = credis
    url = https://github.com/colinmollenhour/credis
[submodule "php-redis-session-abstract"]
    path = php-redis-session-abstract
    url = https://github.com/colinmollenhour/php-redis-session-abstract
